<!DOCTYPE html>
<html>
  <head>
    <title>Autores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Raul</h1>
    <p>Autor de la practica quiz-rvg-2015</p>
  </body>
  <footer>
    <a href="https://github.com/rvg55/quiz-rvg-2015.git">Project on GitHub</a>
  </footer>
</html>
