<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <footer>
    <a href="https://github.com/rvg55/quiz-2015.git">Project on GitHub</a>
  </footer>
</html>
