<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>

    <%= respuesta %> <p>
    <a href="/quizes/question">Quiere intentarlo otra vez?</a>
  </body>
  <footer>
    <a href="https://github.com/rvg55/quiz-rvg-2015.git">Project on GitHub</a>
  </footer>
</html>
